@import '../../../global';

.products {
  border-top: 1px solid $grey;
  border-collapse: collapse;
  font-size: 0.8rem;
  margin-bottom: 20px;

  @include md {
    font-size: 1rem;
  }
  caption {
    font-size: 1.4rem;
    color: $blue;
    text-align: left;
    margin: 15px 20px;
    font-weight: bold;
  }
}