@import '../../global';

.badges {
  margin: 3px;
  padding: 20px 0 0;
  display: inline-flex;
  width: 100%;


  li {
    list-style-type: none;
    img {
      width: 20px;
      margin-right: 3px;
    }
  }
}